{% include 'base.html' %}
{% block "header" %}{% endblock %}
<title>Компания "Квант" О компании</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/about.css' %}">
<body>
    <br>
    <h3>
        Компьютерная и цифровая техника
    </h3>
    <div>
        Компания «Квант» является официальным партнером крупнейших  фирм-производителей компьютеров ,
        серверов и цифровой техники: DEPO, Desten Computers, XEROX. Наша цель-способствовать развитию
        Вашего бизнеса, обеспечивая доступность и надежность  высоких технологий. Особенно хочется подчеркнуть,
        что одним из приоритетов нашей компании являются поставки серверных решений, как наиболее надежных и
        технологичных, требующих высокой квалификации инженеров и опыта внедрения.
    </div>
    <div>
        Мы стараемся всемерно содействовать достижению целей своих Заказчиков, учитывая их индивидуальные
        предпочтения. Основные принципы, которыми мы руководствуемся , являются взаимовыгодное сотрудничество,
        тесные связи и настраиваемые взаимоотношения со своими клиентами и партнерами.
    </div>
    <h3>
        Лицензионное программное обеспечение
    </h3>
    <div>
        Наша компания более 15 лет работает в сфере консультирования и последующей продажи лицензионного
        программного обеспечения. Сертифицированные специалисты нашей компании помогут Вам подобрать
        наилучший вариант лицензионного ПО для развития и защиты Вашего бизнеса. Компания Квант является
        официальным партнером ведущих производителей ПО: Basealt, Microsoft, Kaspersky, Dr.Web, Esset,
        Corel, Adobe и других компаний.
    </div>
    <h3>
        Системы кондиционирования
    </h3>
    <div>
        На протяжении 18 лет наша компания успешно занимается разработкой решений, поставкой и монтажем
        систем кондиционирования и вентиляции. Опытные инженеры помогут Вам подобрать, правильно разместить
        и надежно эксплуатировать климатическую технику, превратив покупку системы кондиционирования
        в надежное вложение Ваших средств в Ваше здоровье и комфорт.. Так же специально обученные сервисные
        инженеры работают по проблемам диагностики , настройки и ремонта  гарантийных и постгарантийных систем
        кондиционирования.
        Сегодня, когда экологическое состояние окружающей среды ухудшается с каждым годом, важно заботиться
        о том воздухе, которым мы дышим дома и на рабочем месте и лучше всего доверить эту заботу профессионалам.
    </div>
    <h3>
        Монтаж локальных сетей и мини- АТС
    </h3>
    <div>
        Благодаря многолетнему опыту проектирования и монтажа локальных сетей и мини-АТС, а также
        высококвалифицированному инженерному составу, мы поможем Вам создать информационную среду, наиболее
        качественно удовлетворяющую Ваши потребности в надежно защищенной, гибкой и высокопроизводительной
        системе коллективной работы.
    </div>
    <h3>
        Бытовая техника
    </h3>
    <div>
        Как одно из приятных дополнений, мы предлагаем нашим клиентам широкий ассортимент бытовой техники,
        которую привозим под заказ. Наши цены ниже чем в гипермаркетах и приятно Вас удивят.
    </div>
    <h3>
        Визуализация конференцзалов
    </h3>
    <div>
        Современный интерьер конференц-зала или зала заседаний – это высокотехнологичный и сложный комплекс,
        где существует строгая увязка всех элементов с функциональным назначением интерьера. Камеры наблюдения,
        акустические системы, видеопроекторы и экраны, места слушателей, оформление помещения и его
        акустика - всё должно быть продумано так, чтобы дать максимальный комфорт посетителям и выполнить
        стопроцентную отдачу от работы в этом интерьере. Выполняя дизайн проект интерьера конференц-зала или
        зала заседаний, мы, прежде всего, разрабатываем функциональное назначении данного интерьера.
    </div>
    <h3>
        Ремонт офисного и компьютерного оборудования
    </h3>
    <div>
        Высококвалифицированные инженеры ООО «Квант», имеющие многолетний опыт работы , проведут диагностику
        и ремонт Вашей техники. Мы предлагаем услуги по выездному ремонту или при не возможности его, доставку
        неисправной техники в наш Сервисный центр и отремонтированной обратно Заказчику.
    </div>
    <h3>
        Заправка, восстановление картриджей
    </h3>
    <div>
        Выполняем заправку картриджей только высококачественными и проверенными на совместимость тонерами для
        лазерных принтеров, что обеспечивает отличное качество печати и многократное использование одного и того
        же картриджа.
        Опыт заправки, восстановления и ремонта картриджей более 20 лет.
        Наша работа не займет у вас много времени. Если вы приедете к нам в офис, то мы заправим ваш картридж
        в течение 10-15 минут. Также вы можете воспользоваться услугами нашей службы доставки, сотрудники
        которой приедут к Вам, заберут, заправят и привезут назад ваши картриджи.
    </div>
    <br>
    <br>
</body>

