<!DOCTYPE html>
{% block "header" %}
<meta charset="utf-8">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/base.css' %}">
<body>
    <header>
        <hr size="0">
        <a class="company" href="/">Компания "Квант"</a>
        <a class="about_company" href="/about">О компании</a>
        <a class="service" href="/service">Услуги</a>
        <a class="goods" href="/goods">Товары</a>
        <a class="partners" href="/partners">Наши партнеры</a>
        <a class="news" href="/news">Новости</a>
        <a class="comments" href="/comments">Отзывы</a>
        <a class="contacts" href="/contacts">Контакты</a>
        <hr size="0">
    </header>
</body>
{% endblock %}