{% include 'base.html' %}
{% block "header" %}{% endblock %}
<title>Компания "Квант" Контакты</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/contacts/contacts.css' %}">
<body>
    <link rel="stylesheet" type="text/css" href="{% static '/k/contacts.css' %}">
    <h3 class="name">
        ООО "Квант"
    </h3>
    <h3 class="address">
        302026, г. Орел, ул. Латышских стрелков, д. 6
    </h3>
    <h3 class="telephone">
        телефон/факс: (4862) 75-24-29, 75-24-30, 73-71-40
    </h3>
    <h3 class="email">
        e-mail: kvantorel@gmail.com
    </h3>
    <img class="sign" src='{% static "/k/img/sign.jpg" %}' alt="вывеска">
    <img class="scheme" src='{% static "/k/img/scheme.jpg" %}' alt="схема проезда">
</body>