{% include 'base.html' %}
{% block "header" %}{% endblock %}
<title>Компания "Квант"</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/home.css' %}">
<body>
    <ul>
        <li><h3>Компьютерная и офисная техника</h3></li>
        <li><h3>Лицензионное программное обеспечение</h3></li>
        <li><h3>Антивирусное ПО</h3></li>
        <li><h3>Расходные материалы</h3></li>
        <li><h3>Системы кондиционирования</h3></li>
        <li><h3>Видеокамеры и системы видеонаблюдения</h3></li>
        <li><h3>Визуализация конференц-залов</h3></li>
        <li><h3>Шлагбаумы и турникеты</h3></li>
        <li><h3>Бытовая техника</h3></li>
        <li><h3>Ремонт офисного и компьютерного оборудования</h3></li>
        <li><h3>Заправка, восстановление картриджей</h3></li>
    </ul>
</body>