{% include 'base.html' %}
{% block "header" %}{% endblock %}
<title>Наши партнеры</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/partners.css' %}">
<body>
    <a href="https://www.basealt.ru/" target="_blank">
        <img id="basealt" src='{% static "/k/img/icon_basealt.jpg" %}' hspace="20" vspace="20">
    </a>
    <a href="https://carddex.ru/" target="_blank">
        <img class="carddex" src='{% static "/k/img/icon_carddex.jpg" %}' width="249" height="33" hspace="20" vspace="20">
    </a>
    <a href="https://dantex.ru/" target="_blank">
        <img class="dantex" src='{% static "/k/img/icon_dantex.jpg" %}' hspace="20" vspace="20">
    </a>
    <a href="https://satvision-cctv.ru" target="_blank">
        <img class="satvision" src='{% static "/k/img/icon_satvision.jpg" %}' hspace="20" vspace="20">
    </a>
    <a href="https://www.vtt.ru/" target="_blank">
        <img class="vtt" src='{% static "/k/img/icon_vtt.jpg" %}' hspace="20" vspace="20">
    </a>
    <a href="https://rdwcomp.ru/" target="_blank">
        <img id="rdw" src='{% static "/k/img/icon_rdw.jpg" %}' width="240" height="69" hspace="20" vspace="20">
    </a>

    <a href="https://i-t-p.pro/" target="_blank">
        <img class="itp" src='{% static "/k/img/icon_it_partner.jpg" %}' width="264" height="76" hspace="20" vspace="20">
    </a>
</body>