<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый отзыв</title>
    <style type="text/css">
    body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    fon-style: bold
      }
    table {position: relative; left: 30px}
    .but {position: relative; left: 130px; top:20px}
   </style>
</head>
{% include 'base.html' %}
<body>
    <form action="" method="post" name="Новый отзыв">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class='but' type="submit" value="Сохранить">
    </form>
</body>
</html>