<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый отзыв</title>
    <style type="text/css">
    body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: bold
      }
    p {position: relative; left: 30px}
    .example {background-color: rgb(0,80,80); border-width: 0}
    .error-list {font-size: 5pt}
    .but {position: relative; left: 130px; top:20px}
    </style>
</head>
{% include 'base.html' %}
<body>
    <form action="" method="post" name="Новый отзыв" novalidate>
        {% csrf_token %}
        <p> {{ form.comment_text.label }} </p>
        <p> {{ form.comment_text }} <span class="error-list"> {{ form.comment_text.errors }} </span></p>
        <p> {{ form.comment_sign.label }} </p>
        <p> {{ form.comment_sign }} <span class="error-list"> {{ form.comment_sign.errors }} </span></p>
        <p> {{ form.comment_contact.label }}</p>
        <p> {{ form.comment_contact }} <span class="error-list"> {{ form.comment_contact.errors }} </span></p>
        <p> {{ form.not_robot.label }} {{ form.not_robot }} <span class="error-list"> {{ form.not_robot.errors }} </span></p>
        <p><span class="example"> {{ form.captcha_example }} </span>
            <span class="entrance"> {{ form.captcha_entrance }} </span> <span class="error-list"> {{ form.captcha_entrance.errors }} </span>
            <span class="error-list">{{ form.non_field_errors }}{{ form.content.errors }}
            </span>
        </p>
        <p class="result" hidden="hidden">{{form.captcha_result}}</p>
        <input class='but' id='but' type="submit" value="Сохранить">
    </form>
</body>
</html>