<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
    <header>
        {% include 'base.html' %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/goods/categories2.css' %}">
    </header>
    <form action="" method="get">
        {# {% csrf_token %} #}
        <p id="search"> {{ form.how_to_search }} {{ form.how_to_search.label }} {{ form.search }}
            <input type="submit" value="Найти">
        </p>
    <p id="cat">
        Категории товаров:
    </p>
<ul class="categories1">
    {% for id, name in cat1 %}
        <li>
            <a href="{% url 'catalogs' %}{{ id }}/" class="cat1"> {{ name }} </a>
                {% with code=id %}
                {% for id, name, cat1 in cat2 %}
                {% if   cat1 == code  %}
                <ul class="categories2">
                    <li>
                        <a href="{% url 'catalogs' %}{{ cat1 }}/{{ id }}/" class="cat2"> {{ name }} </a>
                        {% with code2=id %}
                        {% for id, name, cat1, cat2 in cat3 %}
                        {% if cat2 == code2 %}
                        <ul class="categories3">
                            <li>
                                <a href="{% url 'catalogs' %}{{ cat1 }}/{{ cat2 }}/{{ id }}/" class="cat3"> {{ name }}</a>
                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
                {% endwith %}
        </li>
    {% empty %}
    <li>
        пока нет категорий
    </li>
    {% endfor %}
</ul>
        <div class="pagination">
            <p class="title"> {{ title }} </p>
            <span class="step-links">
                {% if page.has_previous %}
                <a href="{{ pa }}page=1">&laquo; первая</a>
                <a href="{{ pa }}page={{ page.previous_page_number }}">предыдущая</a>
                {% endif %}

            <span class="current">
            Страница {{ page.number }} из {{ page.paginator.num_pages }}.
            </span>

                {% if page.has_next %}
                <a href="{{ pa }}page={{ page.next_page_number }}">следующая</a>
                <a href="{{ pa }}page={{ page.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

<ul class="good">
    {% for id, name, article, catalog_number, cat1, cat2, cat3 in page.object_list %}
    <li id="g">
        <a href="index{{ id }}/" class="g"> {{ name }} </a>
    </li>
    {% empty %}
    <li>
        выберите категорию товаров
    </li>
    {% endfor %}
</ul>

        <div class="aside">
        Публикуемый ассортимент не является полным перечнем товаров, поставлямых нашей компанией.
        Также некоторые товары могут быть сняты с поставок.
        Для получения информации по наличию и срокам поставки звоните по телефонам: 75-24-29, 75-24-30.
            Для лучшего поиска товаров в окне поиска можно набрать, например: хол атлан для поиска
        холодильника "Атлант", или кар HP 1010 для поиска картриджа HP LaserJet 1010.
        </div>

    </form>
</body>