body {font-family: Geneva, Arial, Helvetica, sans-serif;}
h3 {text-align: center}
div {padding: 10px; position:relative; left:10px; font-size:15px; font-weight: 500; padding-left:60px; padding-right:60px; text-indent:30px}