body {font-family: Geneva, Arial, Helvetica}
.name {position:absolute; left:30px; top:80px}
.address {position:absolute; left:30px; top:110px}
.telephone {position:absolute; left:30px; top:140px}
.email {position:absolute; left:30px; top:170px}
.sign {
position:absolute; left:30px; top:280px;
height:300px;width:400px;-o-fit-object: cover;
}
.scheme {
position:absolute; left:600px; top:280px;
height:300px;width:600px;-o-fit-object: cover;
}