body {font-family: Geneva, Arial, Helvetica, sans-serif;}
h3 {position:relative; left:30px}
div {font-size:15px; padding-left:20px; padding-right:20px; text-indent:30px}
.but {position:relative; left:30px; top:30px}