body {font-family: Geneva, Arial, Helvetica}
h3 {indent:30px; position:absolute; left:30px; top:90px}
h2 {position:absolute; left:30px; top:150px}
.pagination {position:absolute; left:30px; top:210px}
ul {position:absolute; left:30px; top:260px}
.but {position:absolute; left:30px; top:75px}