p#seek {position: relative; left: 60px}
p#cat {position: relative; left: 60px}
ul {list-style-type: none}
.col1 {position:absolute; left: 20px; top: 70; width: 200px;}
.col2 {position:absolute; left: 290px; top: 70; width: 200px}
.col3 {position:absolute; left: 600px; top: 70; width: 200px}
.col4 {position:absolute; left: 890px; top: 70; width: 200px}
