body {font-family: Geneva, Arial, Helvetica; font-size: 15px}
ul {position:relative; left:30px; top:50px}
.pagination {position:relative; left:30px; top:50px}
footer {position:relative; left:30px; top:50px}